<app-header></app-header>
<app-loader *ngIf="isLoading"></app-loader>
<div class="container search-details-holder pt-3">
    <div class="d-flex mb-3" *ngIf="recipeData && recipeData.length">
        <span class="d-flex align-items-center mr-auto">
            <mat-icon aria-hidden="false">keyboard_arrow_left</mat-icon>
            <a routerLink="../search">Back to Search</a>
        </span>
    <h4 class="ml-auto mb-0">{{recipeData.length}} matching results for "{{queryParams.recipe}}"</h4>
    </div>
    <div class="row" *ngIf="!isLoading && !noData">
        <div class="col-sm-4 mb-4" *ngFor="let data of recipeData">
            <mat-card class="recipe-holder">
                <h4 class="item-title">{{data.title}}</h4>
                <p class="main-title mb-0">Ingredients:</p>
                <span class="text-wrap">{{data.ingredients}}</span>
                <div class="d-flex">
                    <span class="ml-auto">
                        <a href="{{data.href}}" target="_blank">Read More</a>
                    </span>
                </div>
            </mat-card>

        </div>
    </div>
        <div class="col-12 d-flex justify-content-center align-items-center" *ngIf="!isLoading && noData">
            <app-no-data></app-no-data>
    </div>
</div>