<div class="img-holder"> </div>
<div class="container-fluid data-holder">
    <div class="d-flex align-items-center justify-content-center search-holder">
        <mat-card class="w-75">
            <div class="row">
                <div class="col-12 justify-content-center text-center">
                    <h1>What can I cook ... ?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <mat-form-field class="w-100 mr-4">
                        <mat-label>Find a Recipe*</mat-label>
                        <input matInput [formControl]="recipeCtrl">
                        <mat-hint>Try Burger</mat-hint>
                        <mat-error *ngIf="recipeCtrl.hasError('required')">
                            required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <mat-form-field class="w-100 mr-4">
                        <mat-label>Include Ingridient</mat-label>
                        <input matInput [formControl]="ingridientCtrl">
                        <mat-hint>Try Garlic, Onions, Chilli</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 mt-0 mt-sm-3">
                <button mat-raised-button class="w-50 cursor-pointer" mat-button color="primary"
                    (click)="getRecipe()">Search</button>
                    </div>
            </div>
        </mat-card>
    </div>
</div>