.search-holder {
    min-height: 70vh;
}
.data-holder {
    position: absolute;
    top: 0px;
}
.img-holder {
    background-image: url('../../../assets/images/bg-img.jpg');
    filter: blur(5px);
    height: 89%;
    background-size: cover;
}